@font-face {
    font-family: 'Marzo';
    src: url(FontsFree-Net-marzo.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 40px;
}

html {
    scroll-behavior: smooth;
}
  
body {
    display: flex;
    flex-direction: column;
    background-color: #003B6F;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40px;
    height: auto;
    margin: 8px 0 8px 16px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    gap: 43px;
    margin-right: 40px;
    padding: 120px 0 0 16px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    position: fixed;
    top: 0;
    right: -40px;
    background-color: #FFFFFF;
    height: 100vh;
    width: 80%;
    clip-path: inset(0% 0% 0% 100%);
    -webkit-clip-path: inset(0% 0% 0% 100%);
    transition: all .5s ease-out;
    z-index: 3;
}

.nav-icons {
    height: auto;
    width: 30px;
}

.nav-links a {
    color: #003B6F;
    display: flex;
    gap: 43px;
}

.nav-close-label {
    color: #003B6F;
    position: fixed;
    right: 70px;
    top: 15px;
}

.nav-links.open {
    /* how far the mobile nav extends */
    clip-path: inset(0% 0% 0% 0%);
    -webkit-clip-path: inset(0% 0% 0% 0%);
    background-color: #FFFFFF;
}

.nav-links a:hover {
    color: #A33E94;
}

.hamB {
    position: fixed;
    cursor: pointer;
    right: 17px;
    top: 15px;
    z-index: 4;
}

.line {
    width: 30px;
    height: 3px;
    background: #003B6F;;
    margin: 5px;
    /* speed/effect of hamB to x */
    transition: transform 150ms ease-in-out, opacity 200ms linear;
}

/* rotates one line into part of the X */
.open .mid-line {
    transform: rotate(45deg);
}
  
/* makes one line dissapear */
.open .top-line {
    opacity: 0;
}
  
/* rotates another line into part of the X */
.open .bot-line {
    transform: rotate(135deg) translate(-6px, 5px);
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

.open .overlay {
    display: initial;
}

.land-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    gap: 28px;
}

.land-container h1 {
    font-family: 'Marzo', sans-serif;
    font-size: 36px;
    margin: 160px 0 4px 16px;
    letter-spacing: 0.1em;
    line-height: 89.98%;
}

.land-container h2 {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;
    margin: 0 0 0 16px;
}

.lor-outline {
    width: 278px;
    height: auto;
    align-self: flex-end;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    gap: 40px;
    padding: 80px 0 40PX 0;
}

.project-description {
    display:  none;
}

.project-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #003B6F;
    width: 296px;
    height: 394px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 16px;
}

.project-img img {
    width: 264px;
    height: 238px;
    object-fit: cover;
}

.project-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
}

.project-title {
    font-size: 24px;
    line-height: 102.48%;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 16px;
}

.project-button-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 5px;
}

.project-img a p {
    color: #003B6F;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding: 0 1px 0 1px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF; 
}

.about-info {
    display: grid;
    grid-template-areas: 'h3 h3'
                        'p1 img'
                         'p2 p2'
                         'buttons buttons';
    width: 352px; 
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    text-align: left;
    color: #003B6F;
    margin-left: 8px;
}

.hello {
    grid-area: h3;
    align-self: flex-start;
    font-family: 'Marzo', sans-serif;
    font-size: 24px;
    font-style: normal;
    line-height: 89.98%;
    letter-spacing: 0.1em;
    text-align: left;
    margin: 48px 0 12px 0;
}

.p1 {
    grid-area: p1;
    align-self: flex-end;
    padding: 0 8px 16px 0;
}

.p2 {
    grid-area: p2;
    margin-right: 8px;
}

.about-info img {
    grid-area: img;
    margin-bottom: 16px;
}

.about-pic {
    width: 200px;
    height: 233px;
}

.resume-container {
    grid-area: buttons;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    gap: 16px;
    margin: 16px 0 16px 0;
}

.resume-work {
    width: 100px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.resume {
    grid-area: resume;
    background: #003B6F;
    color: #FFFFFF;
}

.work {
    grid-area: work;
    background: #FFFFFF;
    color: #003B6F;
    border: 1px solid #003B6F;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    font-size: 18px;
    color: white;
    padding: 10px 10px 20px 10px;
}

.email-container h3 {
    font-family: 'Marzo', sans-serif;
    font-size: 24px;
    line-height: 90%;
    letter-spacing: 0.1em;
    margin: 96px 0 32px 16px;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    gap: 12px;
    font-family: 'Oswald', sans-serif;
}

.email-form label {
    align-self: flex-start;
    margin-left: 18px;
}

.email-form input {
    width: 90%;
    border-radius: 5px;
    border-style: none;
    padding: 15px;
    font-size: 15px;
}

.nameEmail {
    height: 32px;
}

.message-box {
    height: 96px;
    width: 90%;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}

.email-form button {
    border-radius: 5px;
    background-color: white;
    width: 100px;
    height: 42px;
    align-self: center;
    border-style: none;
    margin: 32px 0 74px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #003B6F;
    background: #FFFFFF;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    background-color: #FFFFFF;
    color: #003B6F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 16px;
}

.foot-img-container {
    display: flex;
    align-items: center;
    margin-right: 11px;
}

.foot-img {
    width: 20px;
    height: auto;
}

/* project pages */

.project-body {
    background-color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    color: #003B6F;
}

.p1-hero {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 60px 0 16px 0;
}

.p1-hero img{
    width: 100%;
    height: auto;
}

.project-main {
    display: flex;
    flex-direction: column;
    padding: 0 8px 65px 8px;
}

.project-main > h1, h2, h3{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 4px;
}

.section-space, h2{
    margin-top: 24px;
}

.project-main > p {
    font-size: 14px;
    line-height: 21px;
}

.touching-p {
    margin-top: 4px;
}

.project-main > ul, ol{
    font-size: 14px;
    line-height: 21px;
    padding-left: 30px;
    width: 100%;
}

.research-img {
    width: 100%;
    max-width: 1360px;
    height: auto;
    align-self: center;
    padding-top: 8px;
}

.challenge {
    font-size: 14px;
}

.p2-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    align-self: center;
}

.p2-img-header {
    display: none;
}

.p2-img-container img{
    max-width: 362px;
    height: auto;
    padding: 16px 4px 0 4px;
}

.p2-img-container-placeholder {
    display: none;
}

.takeaways {
    padding-top: 8px;
}

.p3-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.p3-img-container img{
    height: auto;
    padding: 10px;
}

.flower-container {
    display: flex;
    justify-content: center; 
}

.flower {
    width: 100%;
    max-width: 1360px;
    height: auto;
    align-self: center;
}

.knacks-img-container {
    margin-bottom: 16px;
}

.knacks-img-container img {
    padding: 8px 8px 24px 8px;
}

.photography {
    margin: 40px 0 8px 0;
}

.works {
    padding: 60px 8px 8px 8px;
    
}

.works-heading {
    font-weight: bold;
    margin: 8px 0 4px 0;
}

.works img {
    padding-bottom: 8px;
}

.kids-img-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

/* email response page */

.e-response-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 136px 16px 0 16px;
}
.e-response-container h1 {
    font-family: 'Marzo', sans-serif;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 90%;
    padding-bottom: 70px;
}

.e-thanks {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 290px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #003B6F;
}

@media (min-width: 500px) {
    .hamB,
    .nav-icons {
        display: none;
    }

    .overlay {
        height: 0;
        width: 0;
    }

    .nav-bar {
        position: fixed;
    }

    .nav-links {
        flex-direction: row;
        align-self: center;
        padding: 15px 40px 0 0;
        position: fixed;
        height: initial;
        width: initial;
        clip-path: none;
        -webkit-clip-path: none;
        transition: none;
        gap: 16px;
        text-transform: initial;
    }

    .nav-links li{
        padding: 0;
    }

    .nav-close-label {
        display: none;
    }

    /* email response page */

    .e-response-container {
        padding: 136px 30px 0 30px;
    }

    .e-response-container h1 {
        font-size: 35px;
        line-height: 90%;
        padding-bottom: 70px;
    }
    
    .e-thanks {
        width: 400px;
        height: 35px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 800px) {
    .logo {
        width: 50px;
    }

    .nav-links {
        padding-top: 19px;
    }

    .land-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .land-container h1 {
        margin: 200px 0 10px 59px;
        font-style: normal;
        font-weight: bolder;
        font-size: 48px;
        line-height: 51px;
    }

    .land-container h2 {
        font-size: 18px;
        margin-left: 59px;
        font-size: 36px;
        line-height: 32px;
        letter-spacing: 0.1em;
    }

    .lor-outline {
        width: 400px;
        margin-top: 150px;
    }

    .project-img {
        width: 496px;
        height: 570px;
    }
    
    .project-img img {
        width: 464px;
        height: 438px;
    }
    
    .about-info {
        grid-template-areas: 'h3 h3'
                            'p1 img'
                             'p2 img'
                             'buttons buttons';
        width: 750px; 
        font-size: 20px;
    }
    
    .about-pic {
        width: auto;
        height: 350px;
    }
    
    .hello {
        font-size: 26px;
    }

    .about-info img {
        margin-left: 20px;
    }

    .hello {
        padding-bottom: 10px;
    }

    .p1 {
        padding-bottom: 20px;
    }
    .p2 {
        padding-bottom: 30px;
    }
    
    .resume-container {
        gap: 30px;
    } 

    .email-container {
        align-self: initial;
    }

    .email-container h3 {
        font-size: 50px;
        padding: 0 0 80px 40px;
    }
    
    .email-form input {
        width: 650px;
    }
    
    .nameEmail {
        height: 40px;
    }
    
    .message-box {
        height: 196px;
        width: 650px;
    }
    
    .email-form button {
        border-radius: 10px;
        background-color: white;
        width: 100px;
        height: 42px;
        align-self: center;
        border-style: none;
        margin: 32px 0 74px 0;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        color: #003B6F;
        background: #FFFFFF;
        cursor: pointer;
    }

    /* project pages */

    .p1-hero {
        padding: 80px 0 40px 0;
    }

    .project-main {
        padding: 0 40px 180px 40px;
    }

    .research-img {
        padding: 20px 0 16px 0;
    }

    .project-main > h1, h2, h3{
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 8px;
    }

    .section-space, h2{
        margin-top: 80px;
    }

    .project-main > p {
        font-size: 24px;
        line-height: 36px;
        padding: 0;
    }

    .project-main > ul, ol{
        font-size: 24px;
        line-height: 36px;
    }

    .p2-h1 {
        margin-top: 64px;
    }
    
    .challenge {
        font-size: 24px;
    }
    
    .p2-img-container {
        justify-content: space-between;
        width: 764px;
        margin: 20px 0 80px 0;
    }
    
    .p2-img-container img{
        padding: 0;
    }

    .p2-img-header {
        width: 180px;
        display:initial;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-align: right;
    }

    .p2-img {
        margin: 0 41px 0 41px;
    }

    .p2-img-container-placeholder {
        width: 180px;
        display: initial;
    }

    .p3-img-container {
        width: 764px;
        margin-bottom: 40px;
        align-self: center;
        padding: 16px;
    }
    
    .p3-img {
        width: 472px;
    }

    .p3-2nd-img {
        width: fit-content;
    }

    .p3-2nd-img img{
        max-width: 1020px
    }

    .flower-container {
        padding: 0;
        margin: 0;
    }

    .flower {
        width: 640px;
        height: 640px;
    }
    
    .knacks-img-container {
        width: 764px;
        align-self: center;
    }
    
    .knacks-img-container img {
        width: 732px;
        padding: 20px 16px 0 16px;
    }

    .p3-challenge-3 {
        margin-top: 14px;
    }

    .works {
        padding: 80px 40px 0 40px;
    }

    .photography {
        margin: 60px 0 32px 0;
    }

    .works-heading {
        margin-bottom: 40px;
    }

    .works img {
        padding-bottom: 40px;
        max-width: 1360px;
    }

     /* email response page */

     .e-response-container {
        padding: 136px 30px 0 30px;
    }

    .e-response-container h1 {
        font-size: 64px;
        line-height: 102.48%;
    }
    
    .e-thanks {
        width: 500px;
        height: 75px;
        font-size: 28px;
        line-height: 41px;
    }
}

@media (min-width: 1440px) {
    .land-container {
        height: 750px;
    }

    .land-container h1 {
        margin: 300px 0 28px 59px;
        font-size: 68px;
    }
    
    .land-container h2 {
        font-size: 36px;
    }

    .lor-outline {
        width: 500px;
        margin-top: 0;
    }

    .project-container {
        padding-bottom: 244px;
    }
    
    .project-img {
        flex-direction: row;
        width: 1280px;
        height: 632px;
        padding: 64px 0 64px 123px;
    }

    .project-button-container {
        padding:  0 133px 0 138px;
    }

    .project-title {
        font-size: 50px;
        line-height: 74px;
        padding: 0;
    }

    .project-description {
        display: initial;
        font-weight: 200;
        font-size: 36px;
        line-height: 53px;
        color: white;
        padding: 8px 0 126px 0;
    }

    .project-button-container a {
        width: 150px;
        height: 50px;
    }

    .read-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 146px;
        height: 42px;
        background: #003B6F;
        border-radius: 5px;
        font-family: 'Oswald', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 54px;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #FFFFFF;
        padding-bottom: 128px;
    }
    
    .about-info {
        grid-template-areas: 'h3 h3'
                             'p1 img'
                             'p2 img'
                             'buttons img';
        width: initial; 
        font-weight: 300;
        font-size: 30px;
        line-height: 120%;
        margin-left: 80px;
    }

    .hello {
        grid-area: h3;
        justify-self: flex-start;
        font-size: 64px;
        line-height: 102.48%;
        letter-spacing: 0.05em;
        margin: 20px 0 60px 0;
    }
    
    .p1 {
        align-self: initial;
        padding: 0;
    }
    
    .p2 {
        margin-right: 0;
    }
    
    .about-info img {
        width: 518px;
        height: 594px;
        margin-left: 71px;
        padding-left: 0;
    }

    .resume-container {
        justify-self: center;
        gap: 40px;
    }

    .resume-work {
        width: 150px;
        height: 50px;
    }
 
    .email-container {
        padding: 0 0 192px 0;
    }
    
    .email-container h3 {
        text-transform: lowercase;
        font-style: normal;
        font-weight: bolder;
        font-size: 64px;
        line-height: 74px;
        margin: 80px 0 44px 80px;
    }
    
    .email-form input {
        width: 660px;
    }
    
    .nameEmail {
        height: 48px;
    }
    
    .message-box {
        height: 96px;
        width: 660px;
    }
    
    .email-form button {
        width: 146px;
    }

    footer {
        font-size: 16px;
    }
    
    .foot-img-container {
        margin-right: 20px;
    }

    .notes-first-img {
        margin-bottom: 64px;
    }

    .notes-img {
        width: 950px;
    }

    .kids-img-container {
        display: grid;
        grid-template-areas: 'kid-1 kid-2'
                             'kid-3 kid-4';
        align-self: center; 
        padding-bottom: 40px;
        width: fit-content;
        gap: 40px;                    
    }

    .kid-1 {
        grid-area: kid-1;
    }

    .kid-2 {
        grid-area: kid-2;
    }

    .kid-3 {
        grid-area: kid-3;
    }

    .kid-4 {
        grid-area: kid-4;
    }

    .kids-img-container img{
        padding: 0;
        width: 659px;
    }

    .works img {
        align-self: center;
    }
}